input, textarea, select {
	border: 0;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	float: none;
	display: block;
	margin: 0px;
	-webkit-appearance: none;
	-webkit-border-radius:0; 
    border-radius:0;
}
#message {
	margin: 0;
	padding: 0px;
	z-index: 200;
	height: auto;
	text-align: center !important
}
.error_message, #success_page {
	display: block;
	height: auto;
	color: #d31800;
	font-style: italic;
	font-size: 12px;
	padding: 10px 0px 0px 0px;
	line-height: 1.5;
	margin-bottom: -10px;
	position: relative;
}
#success_page {
	color: #2b2b2b !important;
}
.loader {
	display: none;
}
.form-part {
	padding: 0;
	margin: 29px 0 0px;
}

textarea, select, input:not([type="submit"]):not([type="image"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]) {
	display: block;
	width: 100%;
	padding: 17px 25px 19px;
	margin-bottom: 20px;
	border: 1px solid rgba(0,0,0,0.06);
	text-align: left;
	background: rgba(0,0,0,0.025);
	border-radius:6px;
}
select { white-space:nowrap; padding-left:21px; }
textarea {
	height: 231px;
	resize: none;
}
.form-part > .input-wrapper {
	position: relative;
	padding-top: 15px;
}
.form-part input:focus, .form-part textarea:focus {
	border: 1px solid rgba(0,0,0,0.05) !important;
	background: rgba(0,0,0,0.04) !important;
}

.selector { position:relative; width:100%; float:none; }
.selector select { -moz-appearance: none; -webkit-appearance: none; appearance: none;}
.selector::before { color: #2b2b2b; content: "\f105"; font-family: FontAwesome; font-size:14px; line-height:1; position:absolute; right:25px; top:38%; -webkit-transform:rotate(90deg); -ms-transform:rotate(90deg); transform:rotate(90deg); padding:0; margin:0; }